ol {
    margin:10px 0;
}
ol li {
    list-style-type:none;
}
a {text-decoration:none;}
.search-bar a {
    font-size:0.9em;
    margin:7px 55px 0 0;
}
.fl-theme-slate .results a {
    display:block;
    position:relative;
    color:#333 !important;    
    overflow:auto;    
}
.fl-theme-slate input.search {
    padding:10px;
    width:335px;
}
.fl-theme-slate .results li {
    float:left;
}
.fl-theme-slate .results .fl-icon {
    width:64px;
    height:64px;
    margin:0;
    border:1px solid #fff;
}
.fl-theme-slate .results .fl-link-summary {
    font-size:.75em;
    color:#666;
    display:none;
}
.fl-theme-slate .results .title {
    position:absolute;
    bottom:5px;
    left:5px;
    width:64px;
    background-color:#000;
    border:1px solid #fff;
    text-align:center;
    color:#fff;
    display:none;    
}
.fl-theme-slate .results a:hover .title {
    display: inline;
}

.fl-theme-slate .fl-list-menu,
.fl-theme-slate .fl-list-menu li {border:none;}

/********************************/
/* custom mods */
.fl-theme-myTheme {
 background:
        /* Bottom Right indent */
        -webkit-gradient(radial, 75% 88%, 0, 75% 74%, 8,
            from(rgb(200,200,200)),
            color-stop(0.7, rgb(80,80,80)),
            color-stop(0.9, rgba(0,0,0,0)),
            to(rgba(0,0,0,0))
        ),
        -webkit-gradient(radial, 75% 90%, 0, 75% 75%, 9,
            from(rgb(230,230,230)),
            color-stop(0.5, rgb(255,255,255)),
            color-stop(0.80, rgba(64,64,64,1)),
            to(rgba(64,64,64,0))
        ),

        /* Upper Left indent */
        -webkit-gradient(radial, 25% 38%, 0, 25% 24%, 8,
            from(rgb(200,200,200)),
            color-stop(0.7, rgb(80,80,80)),
            color-stop(0.9, rgba(0,0,0,0)),
            to(rgba(0,0,0, 0))
        ),
        -webkit-gradient(radial, 25% 40%, 0, 25% 25%, 9,
            from(rgb(230,230,230)),
            color-stop(0.5, rgb(255,255,255)),
            color-stop(0.80, rgba(64,64,64,1)),
            to(rgba(64,64,64,0))
        ),
        -webkit-gradient(linear, left top, left bottom, 
            from(#CCC),
            to(#333)
        )
    ;
    background-repeat: repeat, initial, initial, initial, initial;
    background-attachment: initial, initial, initial, initial, initial;
    -webkit-background-clip: initial, initial, initial, initial, content-box;
    -webkit-background-origin: initial, initial, initial, initial,  padding-box;
    -webkit-background-size: 50px 50px, 50px 50px, 50px 50px, 50px 50px, 1px 400%;
}
.fl-theme-myTheme .fl-list-menu li {
    background: -webkit-gradient(linear, left top, left bottom, 
        from(#FFD100),
        to(#FFA200)
    );
}