/* PAGE-LEVEL */

body {
	background-image: url("background-08.png");
	background-repeat: repeat;

	margin-left:40px;
	margin-top:40px;

	font-family: helvetica, arial, verdana, sans-serif;
}

a {
	color: #008EBA;
}

h1 {
	font-size: 36px;
	margin-bottom: 32px;
}

h2 {
	font-size: 24px;
	margin-bottom: 0px;
	margin-top: 12px;
}

h3 {
	font-size: 21px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-weight: normal;
}

h4 {
	font-size: 18px;
	border-bottom: 1px solid #000;
	margin-bottom: 8px;
	margin-top: 16px;
}

h5 {
	font-size: 16px;
	margin-top: 32px;
}

p {
	font-size: 12px;
	line-height: 24px;
}

textarea {
	width: 600px;
	height: 120px;
	border: 2px solid #cccccc;
	padding: 5px;
}

/* TABS */

#tabs {
	margin: 0px;
}

#tabs li {
	float: left;
	background-color:#444;
	padding: 2px 5px 2px 5px;
	margin-right: 20px;
	list-style: none;
	outline: 0;
}

#tabs li:focus {
	border: 3px solid #00AEEF;
}


#tabs a {
	display: block;
	padding: 0px 0px 0px 0px;
	margin: 6px;
	color: #fff;
	border: 0;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dotted;
}

#tabs a:hover {
	color: black;
}

#tabs li.highlighted {
	margin-top: 0;
}

#tabs li.highlighted a {
	color: #00AEEF;
}

#tabs li.selected {
	background-color: #fff;
}

#tabs li:hover {
	background-color: #eee;
}

#tabs li.selected a, #tabs li:hover a {
	color: #333;
}

/* PANELS */

#panels {
	clear: both;
	background: #FFF3B3;
	padding-top: 0;
	margin-bottom: 2em;
	width: 800px;
}

#panels > div {
	padding: 1em;
	background: #FFF;
	min-height: 250px;
	padding-left: 30px;
	padding-bottom: 20px;
}

.now_showing {
	display: block;
}

.in_the_wings {
	display: none;
}

#tab_content_loading {
	height: 120px;
}

@media print {
	#tabs {
		display: none;
	}
	
	#tab_container {
		border: none;
		clear: both;
		background: white;
		padding-top: 0;
		margin-bottom: 1em;
	}

	#tab_content {
		padding: 0;
		background: white;
	}

}
